@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: transparent;
  --color-surface: var(--surface-color);
  --color-primary: #3B82F6;
  --color-secondary: #8B5CF6;
  --font-sans: Inter, sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  :root {
    /* LIGHT MODE */
    --bg-base: #F8FAFC; 
    --bg-gradient: none; 
    --surface-color: rgba(255, 255, 255, 0.8);
    --text-main: #111827;
  }

  .dark {
    /* DARK MODE */
    --bg-base: #030712;
    --bg-gradient: none;
    --surface-color: rgba(17, 24, 39, 0.6);
    --text-main: #F9FAFB;
  }

  body {
    background-color: var(--bg-base);
    background-image: var(--bg-gradient);
    background-attachment: fixed;
    color: var(--text-main);
    @apply antialiased transition-colors duration-500;
  }
  
  html {
    scroll-behavior: smooth;
  }
}